*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.darkMotif{
  background-color: #0c0022 !important;
  color: #fff;
  box-shadow: #fff;
}

:root{
  font-size: 16px;
}

body{
  overflow-x: hidden;
}

$btnHeight: 40px;
.menuBtn{
  width: 40px;
  height: $btnHeight;
  background: linear-gradient(135deg, #faa300 0%, #ff00a4 100%);
  border-radius: 20%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10;

    & .btn-line{
      display: block;
      width: 30px;
      height: 4px;
      background-color: #fff;
      border-radius: 15%;
      transition: all 0.5s ease;
    }

    &.active{
      & .btn-line{
        &:nth-of-type(1){
          transform: rotateZ(-45deg)
          translate(-8px,8px);
        }
        &:nth-of-type(2){
          transform: scale(0,1);
        }
        &:nth-of-type(3){
          transform: rotateZ(45deg)
          translate(-6px,-7px);
        }
      }

    }
}

.lockScroll{
  overflow: hidden;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

h2{
  font-size: 1.5rem;
  color: #ff00a4;
}

header{
    width: 100%;
    height: $btnHeight+10;
    //display: flex;
    //justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    opacity: 0;
    //padding: 5px;
    transition: opacity 0.5s ease;
}

.menu{
    width: 100%;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    position: absolute;
    background-color: #fff;
    transform: translate(-100%,0);
    transition: transform 0.5s ease;
    z-index: 1;

    &.active{
      transform: none;
      position: fixed;
      top: 0;
    }

    & .menuElement{
      margin: 10px 0 10px 0;
      text-decoration: none;
      font-size: 1.5rem;
    }

    a:visited{
      color: #000;
    }

}

#home{
  width: 100%;
  padding: 10px;
  height: 100vh;
  background-image: url(/full-bloom.png);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  text-align: center;
  color: #faa300;

  & .arrowDown{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 90%;
    left: calc(50% - 24px);
    animation: upDown 2s infinite ;
  }
}

@keyframes upDown{
  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(0,-5px);
  }

  100% {
    transform: translate(0,0);
  }
}

section{
  height: 100vh;
  padding: 10px;

  h2{
    text-align: center;
    margin-bottom: 10px;
  }
}

.container{
  width: 100%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem; 
}

#skills{
  & .container{
    background: linear-gradient(180deg, rgba(250,163,0,1) 0%, #fc936a 100%);

    & ul{
      width: 50%;
      margin: auto; 
      list-style-type: none;
      text-align: center;
      & li{
        margin: 20px 0;
      }
    }
  }

}

#portfolio{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

  & .portfolio-element{
    width: 90%;
    height: 20%;
    margin: 5px 0;
  }
}

#contact{
  & .container{
    
    background: linear-gradient(180deg, #fc936a 0%, #ff82dd 100%);
    

    & > div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
    }
  
    & img{
      width: 48px;
      height: 48px;
      margin: 5px 0;
    }
  }
}

footer{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 5px;
}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .menu{
      width: 25%;

      &.active{
        transform: none;
        position: fixed;
        top: 0;
        box-shadow: 0 0 20px 1px #000;
      }

      & .menuElement{
        margin: 15px 0 15px 0;
        text-decoration: none;
        font-size: 1.5rem;
        transition: font-size 0.25s ease;
      }

      & .menuElement:hover{
        cursor: pointer;
        color: #ff00a4;
        font-size: 1.75rem;
      }

  }

  #home{

    & h1{
      font-size: 2rem;
      color: #faa300;
    }
  }

  #skills{
    & ul li {
      font-size: 1.5rem;
    }

  }

  section{
    & h2{
      font-size: 2rem;
    }
  }

  #aboutMe{
    padding: 0 25%;
    font-size: 1.25rem;

    & h2{
      margin-bottom: 20%;
    }
  }

  #portfolio{
    .container{
      justify-content: space-around;
      .portfolio-element{

        width: 40%;
        height: 10%;
      }
    }
  }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
  }